# Things to know:
1. Number of teams?? >> 14 - Teams
2. How many matches played by each team?? 
3. Each teams 1st 6-overs score sum??

In [1]:
from sklearn.preprocessing import LabelEncoder
vennue_LE = LabelEncoder()

In [2]:
import pandas as pd
from pprint import pprint

df_org = pd.read_csv('all_matches.csv')
df = df_org.copy()

df.head()

C:\Users\skanukollu\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(f'Total teams Participated : {df.batting_team.unique().shape[0]}\n\n\nThey are : \n')
pprint(list(df.batting_team.unique()))

Total teams Participated : 15


They are :

['Kolkata Knight Riders',
 'Royal Challengers Bangalore',
 'Chennai Super Kings',
 'Kings XI Punjab',
 'Rajasthan Royals',
 'Delhi Daredevils',
 'Deccan Chargers',
 'Mumbai Indians',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Sunrisers Hyderabad',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Delhi Capitals']

Here as we can see '2' names for the same team : 'Rising Pune Supergiants' and 'Rising Pune Supergiant'
So replace with one name

In [4]:
df.batting_team.replace(to_replace='Rising Pune Supergiant',value='Rising Pune Supergiants',inplace=True)

In [5]:
pprint(list(df.batting_team.unique()))

['Kolkata Knight Riders',
 'Royal Challengers Bangalore',
 'Chennai Super Kings',
 'Kings XI Punjab',
 'Rajasthan Royals',
 'Delhi Daredevils',
 'Deccan Chargers',
 'Mumbai Indians',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Sunrisers Hyderabad',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Delhi Capitals']

# Filter the dataset w.r.t 6-overs details

In [6]:
df_tmp = df.loc[(df.ball>=0.0)&(df.ball<=6.0)]

In [7]:
df_tmp['Total_runs_in_6_Overs'] = df_tmp.runs_off_bat+df_tmp.extras
#df_tmp.to_csv('tmp.csv',index=False)

<ipython-input-7-38d4282afe88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['Total_runs_in_6_Overs'] = df_tmp.runs_off_bat+df_tmp.extras

In [14]:
df_tmp['venue'] = vennue_LE.fit_transform(df_tmp.venue)

<ipython-input-14-05cc470aa65b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['venue'] = vennue_LE.fit_transform(df_tmp.venue)

In [15]:
df_tmp

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,Total_runs_in_6_Overs
0,335982,2007/08,2008-04-18,15,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1
1,335982,2007/08,2008-04-18,15,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,335982,2007/08,2008-04-18,15,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,335982,2007/08,2008-04-18,15,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,335982,2007/08,2008-04-18,15,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194260,1254060,2021,2021-04-11,19,2,5.2,Sunrisers Hyderabad,Kolkata Knight Riders,JM Bairstow,MK Pandey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
194261,1254060,2021,2021-04-11,19,2,5.3,Sunrisers Hyderabad,Kolkata Knight Riders,JM Bairstow,MK Pandey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
194262,1254060,2021,2021-04-11,19,2,5.4,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
194263,1254060,2021,2021-04-11,19,2,5.5,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
194264,1254060,2021,2021-04-11,19,2,5.6,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [ ]:
df_tmp.drop(columns=['wides',
 'noballs',
 'byes',
 'legbyes',
 'penalty',
 'wicket_type',
 'player_dismissed',
 'other_wicket_type',
 'other_player_dismissed'],axis=1,inplace=True)

#df_tmp.to_csv('tmp.csv',index=False)
df_tmp.head()

In [ ]:
df_tmp.groupby(['match_id','batting_team','innings']).sum()

In [ ]:
df_tmp.groupby(['match_id','batting_team','innings']).sum().to_csv('6_overs_all_match_details.csv')