# Things to know:
1. Number of teams?? >> 14 - Teams
2. How many matches played by each team?? 
3. Each teams 1st 6-overs score sum??

In [1]:
from sklearn.preprocessing import LabelEncoder
vennue_LE = LabelEncoder()

In [2]:
import pandas as pd
from pprint import pprint

df_org = pd.read_csv('dataset/all_matches.csv')
df = df_org.copy()

df.head()

C:\Users\praghuvanshi\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(f'Total teams Participated : {df.batting_team.unique().shape[0]}\n\n\nThey are : \n')
pprint(list(df.batting_team.unique()))

Total teams Participated : 15


They are :

['Kolkata Knight Riders',
 'Royal Challengers Bangalore',
 'Chennai Super Kings',
 'Kings XI Punjab',
 'Rajasthan Royals',
 'Delhi Daredevils',
 'Deccan Chargers',
 'Mumbai Indians',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Sunrisers Hyderabad',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Delhi Capitals']

Here as we can see '2' names for the same team : 'Rising Pune Supergiants' and 'Rising Pune Supergiant'
So replace with one name

In [4]:
df.batting_team.replace(to_replace='Rising Pune Supergiant',value='Rising Pune Supergiants',inplace=True)

In [5]:
pprint(list(df.batting_team.unique()))

['Kolkata Knight Riders',
 'Royal Challengers Bangalore',
 'Chennai Super Kings',
 'Kings XI Punjab',
 'Rajasthan Royals',
 'Delhi Daredevils',
 'Deccan Chargers',
 'Mumbai Indians',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Sunrisers Hyderabad',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Delhi Capitals']

# Filter the dataset w.r.t 6-overs details

In [6]:
df_tmp = df.loc[(df.ball>=0.0)&(df.ball<=6.0)]

In [7]:
df_tmp['Total_runs_in_6_Overs'] = df_tmp.runs_off_bat+df_tmp.extras
#df_tmp.to_csv('tmp.csv',index=False)

<ipython-input-7-38d4282afe88>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['Total_runs_in_6_Overs'] = df_tmp.runs_off_bat+df_tmp.extras

In [8]:
df_tmp['venue'] = vennue_LE.fit_transform(df_tmp.venue)

<ipython-input-8-05cc470aa65b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['venue'] = vennue_LE.fit_transform(df_tmp.venue)

In [9]:
df_tmp

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,Total_runs_in_6_Overs
0,335982,2007/08,4/18/2008,15,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1
1,335982,2007/08,4/18/2008,15,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,335982,2007/08,4/18/2008,15,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,335982,2007/08,4/18/2008,15,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,335982,2007/08,4/18/2008,15,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194260,1254060,2021,4/11/2021,19,2,5.2,Sunrisers Hyderabad,Kolkata Knight Riders,JM Bairstow,MK Pandey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
194261,1254060,2021,4/11/2021,19,2,5.3,Sunrisers Hyderabad,Kolkata Knight Riders,JM Bairstow,MK Pandey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
194262,1254060,2021,4/11/2021,19,2,5.4,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
194263,1254060,2021,4/11/2021,19,2,5.5,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
194264,1254060,2021,4/11/2021,19,2,5.6,Sunrisers Hyderabad,Kolkata Knight Riders,MK Pandey,JM Bairstow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [10]:
df_tmp.drop(columns=['wides',
 'noballs',
 'byes',
 'legbyes',
 'penalty',
 'wicket_type',
 'player_dismissed',
 'other_wicket_type',
 'other_player_dismissed'],axis=1,inplace=True)

#df_tmp.to_csv('tmp.csv',index=False)
df_tmp.head()

C:\Users\praghuvanshi\AppData\Roaming\Python\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,bowler,runs_off_bat,extras,Total_runs_in_6_Overs
0,335982,2007/08,4/18/2008,15,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,1
1,335982,2007/08,4/18/2008,15,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0
2,335982,2007/08,4/18/2008,15,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,1
3,335982,2007/08,4/18/2008,15,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0
4,335982,2007/08,4/18/2008,15,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,0

In [11]:
df_tmp.groupby(['match_id','batting_team','innings']).sum()

                                              venue   ball  runs_off_bat  \
match_id batting_team                innings
335982   Kolkata Knight Riders       1          570  107.0            51
         Royal Challengers Bangalore 2          570  106.0            19
335983   Chennai Super Kings         1         1026  107.0            50
         Kings XI Punjab             2         1026  114.1            61
335984   Delhi Daredevils            2          342  110.0            53
...                                             ...    ...           ...
1254058  Royal Challengers Bangalore 2          741  112.7            38
1254059  Chennai Super Kings         1         1517  104.3            30
         Delhi Capitals              2         1476  102.6            65
1254060  Kolkata Knight Riders       1          684  102.6            50
         Sunrisers Hyderabad         2          684  102.6            35

                                              extras  Total_runs_in_6_Overs
match_id batting_team                innings
335982   Kolkata Knight Riders       1            10                     61
         Royal Challengers Bangalore 2             7                     26
335983   Chennai Super Kings         1             3                     53
         Kings XI Punjab             2             2                     63
335984   Delhi Daredevils            2             2                     55
...                                              ...                    ...
1254058  Royal Challengers Bangalore 2             8                     46
1254059  Chennai Super Kings         1             3                     33
         Delhi Capitals              2             0                     65
1254060  Kolkata Knight Riders       1             0                     50
         Sunrisers Hyderabad         2             0                     35

[1664 rows x 5 columns]

In [12]:
df_tmp.groupby(['match_id','batting_team','innings']).sum().to_csv('dataset/6_overs_all_match_details.csv')

In [18]:
df_6_overs = pd.read_csv('dataset/6_overs_all_match_details.csv')

In [19]:
df_6_overs.head()

,match_id,batting_team,bowling_team,innings,venue,ball,runs_off_bat,extras,Total_runs_in_6_Overs
0,335982,Kolkata Knight Riders,Royal Challengers Bangalore,1,570,107.0,51,10,61
1,335982,Royal Challengers Bangalore,Kolkata Knight Riders,2,570,106.0,19,7,26
2,335983,Chennai Super Kings,Kings XI Punjab,1,1026,107.0,50,3,53
3,335983,Kings XI Punjab,Chennai Super Kings,2,1026,114.1,61,2,63
4,335984,Delhi Daredevils,Rajasthan Royals,2,342,110.0,53,2,55

In [59]:
df_6_overs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1664 entries, 0 to 1663
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   match_id               1664 non-null   int64
 1   batting_team           1664 non-null   object
 2   bowling_team           1664 non-null   object
 3   innings                1664 non-null   int64
 4   venue                  1664 non-null   int64
 5   ball                   1664 non-null   float64
 6   runs_off_bat           1664 non-null   int64
 7   extras                 1664 non-null   int64
 8   Total_runs_in_6_Overs  1664 non-null   int64
dtypes: float64(1), int64(6), object(2)
memory usage: 117.1+ KB

In [60]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df_6_overs['batting_team'] = label_encoder.fit_transform(df_6_overs['batting_team'])
df_6_overs['bowling_team'] = label_encoder.fit_transform(df_6_overs['bowling_team'])
print(df_6_overs.head())

   match_id  batting_team  bowling_team  innings  venue   ball  runs_off_bat  \
0    335982             7            13        1    570  107.0            51
1    335982            12             7        2    570  106.0            19
2    335983             0             5        1   1026  107.0            50
3    335983             5             0        2   1026  114.1            61
4    335984             3            10        2    342  110.0            53

   extras  Total_runs_in_6_Overs
0      10                     61
1       7                     26
2       3                     53
3       2                     63
4       2                     55

In [61]:
X = df_6_overs.iloc[:,0:7].values
y = df_6_overs.iloc[:,8].values

In [62]:
X

array([[3.359820e+05, 7.000000e+00, 1.300000e+01, ..., 5.700000e+02,
        1.070000e+02, 5.100000e+01],
       [3.359820e+05, 1.200000e+01, 7.000000e+00, ..., 5.700000e+02,
        1.060000e+02, 1.900000e+01],
       [3.359830e+05, 0.000000e+00, 5.000000e+00, ..., 1.026000e+03,
        1.070000e+02, 5.000000e+01],
       ...,
       [1.254059e+06, 2.000000e+00, 0.000000e+00, ..., 1.476000e+03,
        1.026000e+02, 6.500000e+01],
       [1.254060e+06, 7.000000e+00, 1.400000e+01, ..., 6.840000e+02,
        1.026000e+02, 5.000000e+01],
       [1.254060e+06, 1.300000e+01, 7.000000e+00, ..., 6.840000e+02,
        1.026000e+02, 3.500000e+01]])

In [63]:
Y

array([61, 26, 53, ..., 65, 50, 35], dtype=int64)

In [64]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [65]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [66]:
from sklearn.linear_model import LinearRegression
lin = LinearRegression()
lin.fit(X_train,y_train)

LinearRegression()

In [68]:
y_pred = lin.predict(X_test)
score = lin.score(X_test,y_test)*100
print("R-squared value:" , score)

R-squared value: 97.03544338855143

In [74]:
y_pred

array([66.89355677, 39.72268158, 35.38694463, 27.73045185, 45.91577622,
       52.75713832, 36.68970813, 47.10770296, 52.17490506, 40.64335603,
       67.06929449, 53.31947292, 32.25150686, 41.47050029, 52.80176552,
       46.07878721, 61.21483921, 69.31725424, 43.32753263, 41.41207791,
       48.69264671, 25.61455445, 33.59053685, 37.12273803, 36.62583469,
       71.08353364, 40.50442564, 41.05111828, 74.23773927, 38.32240787,
       36.3259503 , 44.8500759 , 30.58172973, 51.05397448, 46.09715725,
       63.01895917, 34.91578553, 65.95744001, 52.81614768, 39.84234991,
       45.1270066 , 39.19015688, 65.89722737, 32.34412736, 53.88563365,
       26.08389888, 30.34859343, 29.95658157, 31.7427111 , 57.19648447,
       31.39411152, 61.71392717, 45.30931883, 38.24293133, 49.41014989,
       50.91922877, 57.15990723, 50.84195156, 30.92406027, 42.22393574,
       49.03830513, 23.38475318, 56.63908651, 63.01092025, 57.1634889 ,
       77.55520649, 61.19577395, 34.17001506, 68.45013833, 28.47085983,
       51.91535957, 48.1056681 , 50.09558721, 44.18420068, 62.25394084,
       21.38582286, 44.67429252, 43.42564308, 23.81299617, 42.82557212,
       53.11678751, 79.62563975, 35.96926659, 43.06859109, 26.49971125,
       19.65626239, 38.22049301, 27.4688204 , 51.59332615, 62.41792757,
       48.67685545, 37.38783841, 38.53027996, 51.85334673, 45.62098254,
       53.54120049, 29.71481999, 48.0839928 , 51.74685184, 41.93449773,
       35.85833675, 57.02741575, 36.3507198 , 57.05556664, 46.66021181,
       49.20836483, 25.84244879, 58.76379209, 50.84225078, 42.64734201,
       65.70805833, 30.52442638, 36.44888088, 43.04809751, 63.59618342,
       41.02630765, 50.77974518, 48.46602079, 40.04922912, 29.7355549 ,
       43.98294394, 64.52047096, 51.1007367 , 52.89806655, 37.97671039,
       36.51806656,  9.58862262, 40.46295034, 34.29891927, 40.0906657 ,
       40.10193219, 47.99773658, 51.21846861, 35.0424268 , 44.44610603,
       35.80749115, 39.69220386, 69.68546961, 40.84705803, 61.50742713,
       40.46717381, 35.92252366, 67.41343415, 32.42546969, 37.30387191,
       24.59144523, 48.68103521, 35.75483488, 36.96072682, 48.93783983,
       46.94414752, 36.10138378, 46.33561186, 74.81121935, 47.10811984,
       60.12612336, 55.84878641, 38.57139111, 46.07178949, 58.61608436,
       34.76571361, 44.80382398, 34.38333887, 40.20248056, 26.78924485,
       40.3499087 , 51.71590563, 44.60396205, 73.0467467 , 39.49211971,
       15.38650915, 33.80142729, 33.94084898, 34.84341471, 54.04669508,
       54.73812516, 68.29656059, 28.56686269, 57.59808109, 51.04936513,
       42.70410819, 37.15239545, 37.32187917, 34.63562273, 49.64218596,
       51.68555094, 56.22825008, 52.05237891, 53.89235843, 41.52820839,
       49.57217142, 55.76877531, 30.74592295, 29.01967212, 51.45045727,
       29.23764496, 52.94618958, 33.84685722, 26.94797806, 52.12188531,
       67.20554064, 25.90681913, 46.25194709, 58.69928294, 42.74935885,
       46.52038989, 45.41745893, 48.11336314, 53.7750789 , 37.53097323,
       64.13213006, 47.34355601, 26.64926295, 58.66052078, 50.70511059,
       56.57640033, 31.89648258, 38.66011324, 27.3669679 , 59.52077191,
       52.63940495, 33.70032491, 39.75964031, 52.16362198, 35.25100252,
       62.20922761, 39.64997007, 46.91473641, 37.8676147 , 49.40776456,
       36.86461867, 35.1468389 , 54.08242308, 48.01448651, 41.29815003,
       47.82518274, 58.50625301, 72.61679862, 38.7277474 , 51.47055651,
       37.43793491, 40.40052047, 35.53027317, 56.5258779 , 13.58871241,
       57.36569467, 43.96160014, 53.4756042 , 34.91006679, 51.18828693,
       45.25468048, 37.02221441, 56.01786009, 33.57800313, 34.32969802,
       47.35780873, 49.20682048, 33.64596429, 43.99785257, 36.66743071,
       54.63126821, 36.89762914, 52.21874437, 31.83767293, 42.39119293,
       30.70661806, 26.8611794 , 43.91369956, 42.36849273, 47.08284203,
       84.15107579, 56.52328738, 43.20375085, 37.63621484, 59.77409495,
       50.6803445 , 53.69840815, 42.44419676, 79.02587629, 52.34419579,
       57.364976  , 77.14115183, 50.00407128, 23.21366366, 39.37360646,
        7.40888006,  3.63221712, 24.53276814, 51.82644688, 36.54056086,
       27.6591035 , 43.85205039, 47.66417059, 41.84361219, 61.51730862,
       46.97590628, 30.57137641, 40.113064  , 63.12563434, 43.54511448,
       59.70064198,  8.99340179, 46.03022282, 23.41005138, 24.20179446,
       44.17729598, 23.8302788 , 12.41831946, 28.60241803, 39.16111127,
       51.17076791, 37.59479787, 58.67580328, 66.41100318, 36.56539368,
       50.26457183, 43.41619108, 60.67961309, 53.62562547, 45.85509223,
       52.89200992, 52.34239041, 52.23773262, 87.23986761, 47.01298128,
       35.88894151, 38.6999207 , 60.85523328, 51.01790255, 53.86696051,
       38.06379212, 39.11478948, 48.08459603, 46.53582776, 48.51078744,
       44.48263049, 50.59498438, 28.05363701, 24.19833283, 44.72074939,
       28.41433243, 46.67518859, 56.03011288, 50.00966704, 41.00287033,
       51.64180091, 47.7443991 , 41.43789287, 39.23916838, 49.03685393,
       41.23052118, 60.26569038, 56.56464888, 44.60570469, 41.7434642 ,
       52.82368544, 51.66381867, 46.81886293, 64.10725249, 66.94480148,
       38.13200547, 38.30090861, 39.46877613, 47.08952579, 28.78950965,
       56.94236697, 42.56967318,  8.04913829, 35.46816229, 66.01642085,
       43.07586271, 34.52330073, 43.65717654, 43.08308773, 38.22363843,
       70.07222196, 44.03828562, 55.41301074, 22.9879399 , 56.48518259,
       53.80486008, 45.74912708, 45.79776235, 46.83520791, 54.50063836,
       49.72381381, 53.61251388, 43.37060102, 59.48726019, 44.6867336 ,
       36.21932561, 39.84292613, 47.14536019, 36.48115533, 36.55693246,
       51.94959133, 66.74200222, 64.54153739, 60.06863176, 58.05120997,
       -0.38609092, 42.93783917, 45.76181861, 49.86146631, 46.2556545 ,
       53.99525249, 44.42333748, 34.78673205, 44.78415031, 38.90848486,
       59.2388035 , 59.55152638, 55.93878017, 54.79399466, 31.80740853,
       36.22007115])

In [73]:
import matplotlib.pyplot as plt
plt.scatter(X_test, y_test, color ='b')
plt.plot(X_test, y_pred, color ='k')

ValueError: x and y must be the same size

In [70]:
X_test[0]

array([ 0.22236861,  1.26465422, -0.44986305, -0.95978439, -0.40240204,
        0.82417619,  1.73472154])

In [72]:
import numpy as np
new_prediction = lin.predict(sc.transform(np.array([[321548,12,5,1,342, 110.0, 1]])))
print("Prediction score:" , new_prediction)

Prediction score: [5.07187139]

In [77]:
import statsmodels.api as ssm

X=ssm.add_constant(X)
model= ssm.OLS(y,X).fit() 
predictions= model.summary()
predictions

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.966
Model:                            OLS   Adj. R-squared:                  0.965
Method:                 Least Squares   F-statistic:                     6624.
Date:                Mon, 19 Apr 2021   Prob (F-statistic):               0.00
Time:                        18:18:00   Log-Likelihood:                -3798.7
No. Observations:                1664   AIC:                             7613.
Df Residuals:                    1656   BIC:                             7657.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.6692      0.616     -4.336      0.000      -3.876      -1.462
x1         -9.735e-07   1.99e-07     -4.886      0.000   -1.36e-06   -5.83e-07
x2             0.0194      0.015      1.331      0.183      -0.009       0.048
x3             0.0171      0.014      1.254      0.210      -0.010       0.044
x4             0.4243      0.114      3.730      0.000       0.201       0.647
x5         -6.279e-05      0.000     -0.474      0.636      -0.000       0.000
x6             0.0580      0.005     11.960      0.000       0.049       0.068
x7             0.9815      0.005    195.126      0.000       0.972       0.991
==============================================================================
Omnibus:                      428.217   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              985.854
Skew:                           1.421   Prob(JB):                    8.40e-215
Kurtosis:                       5.479   Cond. No.                     8.73e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.73e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""